.star-wrapper {
    position: relative;
}

.star-back,
.star-front {
    background-image: url("./star.jpg");
    background-size: 20px;
    height: 20px;
}

.star-back {
    width: 100px;
    filter: grayscale(100%);
}

.star-front {
    position: absolute;
    top: 0
}