.price-wrapper {
    display: inline-flex;
    width: 100%;
    margin: 2rem 0;
}

.price-monthly,
.price-upfront {
    padding: 3rem;
    background-color: #F0F0F0;
    width: 100%;
}

.phone-price {
    font-size: 30px;
    font-weight: bold;
    color: red;
}